<div class="column is-one-quarter">
	<nav class="panel">
		
  <p class="panel-heading">TRENDS</p>
		

		<a class="panel-block">
			TREND 1
		</a>
		

		<a class="panel-block">
			TREND 2
		</a>
		

		<a class="panel-block">
			TREND 3
		</a>
		

		<a class="panel-block">
			TREND 4
		</a>
		

		<a class="panel-block">
			TREND 5
		</a>
		

		<a class="panel-block">
			TREND 6
		</a>
	

	</nav>


</div> 