<div class="column">
	<nav class="panel">
		<p class="panel-heading">
		Who to Follow
	</p>



	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Tech Blogger Johnny</strong>
						<small>@techblogger</small>
					</p>
				</div>
			</div>
		</article>
	</div>


	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>


			<div class="media-content">
				<div class="content">
					<p>
						<strong>Developer Smith</strong>
						<small>@developer</small>
					</p>
				</div>
			</div>
		</article>
	</div>


	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>


			<div class="media-content">
				<div class="content">
					<p>
						<strong>Ruby developer David</strong>
						<small>@rubydeveloper</small>
					</p>
				</div>
			</div>
		</article>
	</div>


	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>


			<div class="media-content">
				<div class="content">
					<p>
						<strong>Backend Developer Andres</strong>
						<small>@backenddeveloper</small>
					</p>
				</div>
			</div>
		</article>
	</div>



		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>


			<div class="media-content">
				<div class="content">
					<p>
						<strong>Beauty Blogger Amrin</strong>
						<small>@beautyblogger</small>
					</p>
				</div>
			</div>
		</article>
	</div>



		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">

					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>


			<div class="media-content">
				<div class="content">
					<p>
						<strong>Food Blogger Abram</strong>
						<small>@foodblogger</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div> 